*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.background {
    background-image: linear-gradient(to right bottom , rgba(0, 116, 217, 0.52), #001f3fa2 ), url(../images/main.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background: white;
    width: 30rem;
    height: 50rem;
    border: .5rem solid grey;
    border-radius: 2.5rem;
    
}